@charset "UTF-8";

*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: linear-gradient(to right, #005C53, #9FC131, #DBF227);
}

p{
  text-align: justify;
}
main{
background-color: white;
width: 600px;
padding: 10px;
margin: auto;
margin-top: 100px;
border-radius: 50px;
box-shadow: 5px 5px 15px #031c2c;
}

h1{
color: #D6D58E;
text-align: center;
text-shadow: 1px 1px 2px #031c2c9a;
}
h2{
 color: #042940;
}